
<div class="text-layout">
    <h3>Pipes Numeros</h3>
    <p> 
        Pipes basicos de angular, usualmente incluidos en el common module
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card 
            header="Ventas netas"
            subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ (ventas + 2000000) | number: '1.1-3' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card 
            header="Ventas brutas"
            subheader="del presente año">
            {{ (ventas + 3000000) | currency:'CAD':'symbol-narrow': '1.0-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card 
            header="Ganancia porcentual"
            subheader="del presente año">
            {{ porcentaje | percent:'1.2-2' }}
        </p-card>
    </div>
    
</div>





