<!-- <div class="text-layout">
  <h3>{{ nombre | uppercase }}</h3>
  <h3>{{ valor | number }}</h3>
</div>

<button pButton 
  (click)="mostrarNombre()"
  label="Cambiar nombre">
  Cambiar nombre
 </button>

<button pButton 
  label="help" icon="pi pi-arrow-down-right" iconPos="right" class="p-button-help">
</button>

<p-card [header]="nombre"
        subheader="Esto es un subheader">
  Content mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
</p-card> -->

<app-menu></app-menu>











